<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      th:replace="base::layout(~{::section})">

<head>
    <meta charset="UTF-8" />
    <title>Обо мне</title>
</head>

<body>
<section>
    <div class="container">
        <div class="row">

            <!-- Текст -->
            <div class="col-md-6 mt-5">
                <h2>Обо мне</h2>
                <p>
                    <strong>Имя:</strong> Муратов Санжар<br>
                    <strong>Email:</strong> sanzhar.muratov.05@gmail.com<br>
                    <strong>Телефон:</strong> +7 707 444 03 18<br>
                </p>

                <p>
                    Добро пожаловать на мою страницу!
                </p>
            </div>

        </div>
    </div>
</section>
</body>
</html>
